.pio/
.pio-core-local/
.platformio-local/
.vscode/
.DS_Store
legacy_examples/
media/
build/
managed_components/
sdkconfig
sdkconfig.old
dependencies.lock
esp_idf_project_configuration.json
idf5_round_mjpeg/build/
idf5_round_mjpeg/managed_components/
idf5_round_mjpeg/sdkconfig
idf5_round_mjpeg/sdkconfig.old
idf5_round_mjpeg/dependencies.lock
